@import "tailwindcss";
@source "../../src";

@theme {
  --color-brand-red: #dd2727;
  --color-brand-cream: #ffead3;
}

:root {
  --spacing: 0.25rem;
}

/* Global Fonts */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Batangas';
  src: url('../assets/fonts/Batangas Bold 700.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Global Reset & Typography */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #1e272e;
  background-color: var(--color-brand-cream);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Batangas', sans-serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  outline: none;
  background: transparent;
}